{% extends "base.html" %}

{# at the terminal, run pip install django-bootstrap4 #}
{% load bootstrap3 %}

{% block content %}
<div class="jumbotron">
  <font color = "Black" style="font-size:50px;">Login</font><p style="margin-top: 40px;"></p><p></p>
  <form method="POST" action="{%url 'Account:OwnerLogIn'%}" class="form">
    {% csrf_token %}
    <font color = "Black" for="username">Username</font>
    <input type="text" id = "username" name="username" placeholder="Enter Username">
    <p></p>
    <font color = "Black" for="password">Passowrd</font>
    <input type="password" name="password" id = 'password'><p></p>
    {% buttons %}
      <button type="submit" class="btn btn-primary">Login</button>
    {% endbuttons %}
    <p></p>
    {{error}}
  </form>
</div>
{% endblock %}
